/*STYLING FOR THE AJAX FORM*/
body {
	background-color: #777;
	padding-top: 100px;
	color: white;
}

.container {
	width: 500px;
	margin: auto;
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.3);
	padding: 0 40px 40px 40px;

}

h1 {
	text-align: center;
}

.field {
	padding-bottom: 30px;
}

.field #name, .field #email, .field #message {
	width: 100%;
}

button {
	float: right;
	width: 50%;
	padding: 10px 0;
	color: #e5e5e5;
	border: 2px solid #e5e5e5;
	border-radius: 5px;
	background-color: transparent;
	font-size: 1.2em;
}

button:hover {
	cursor: pointer;
	color: #bada55;
	border: 2px solid #bada55;
}

#formMessages{
	text-align: center;
	font-size: 1.4em;
	clear: both;
	margin-top: 50px;
}